<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nilportugues.simplewebapi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".main.ui.activities.MainActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".users.ui.activities.UserSearchActivity" />
        <activity android:name=".users.ui.activities.pager.Activity2" />
        <activity android:name=".users.ui.activities.fragment.FragmentActivity" />
        <activity android:name=".users.ui.activities.tabs.TabsWithTextActivity" />
        <activity android:name=".users.ui.activities.tabs.TabsWithIconsActivity" />
        <activity android:name=".users.ui.activities.tabs.TabsWithCustomViewsActivity" />
        <activity android:name=".users.ui.activities.tabs.TabsScrollableActivity" />

    </application>

</manifest>